<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/reset.css" type="text/css" />
  <link rel="stylesheet" href="../css/footer.css" type="text/css" />
  <link rel="stylesheet" href="../css/contacts.css" type="text/css" />
  <link rel="stylesheet" href="../css/header.css" type="text/css" />
  <script src="../js/main.js" defer></script>
  <title>Noor Meister</title>
</head>

<body>
  <header>
    <div class="header__img_container">
      <a href="../index.html"><img src="../images/noor-meister.png" alt="noor-meister" /></a>
    </div>
    <nav>
      <ul>
        <li><a href="./events.html">Events</a></li>
        <li><a href="./about_us.html">About Us</a></li>
        <li class="active_link"><a href="./contacts.html">Contacts</a></li>
      </ul>
    </nav>
    <div class="header__language">
      <a>RUS</a>
      <span>/</span>
      <a>ENG</a>
    </div>
    <div class="header__login">
      <a href="login.html">Login</a>
      <a href="sign-up.html">Sign up</a>
    </div>
    <div class="burger_button">
      <label for="check">
        <input type="checkbox" id="check" />
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div id="myLinks">
      <a class="links_language">RUS</a>
      <a class="links_language">ENG</a>

      <a href="./events.html">Events</a>
      <a href="./about_us.html">About Us</a>
      <a href="./contacts.html">Contacts</a>

      <a href="login.html">Login</a>
      <a href="sign-up.html">Sign up</a>
    </div>
  </header>

  <main>
    <h2>Noor Meister</h2>
    <h3>Our geolocation</h3>
    <div class="map_location">
      <p>Address: Lõõtsa 4, 11415 Tallinn</p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2029.6522443208062!2d24.8013576!3d59.422195699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692eb56709f09f5%3A0x1a67a73282137034!2sJohannes%20K%C3%A4is%20Building%2C%20L%C3%B5%C3%B5tsa%204%2C%2011415%20Tallinn!5e0!3m2!1sen!2see!4v1666529909295!5m2!1sen!2see"
        width="600" height="450" style="border: 1" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="info">
      <p>Email: noor.meister@harno.ee</p>
      <p>Phone: 735 0716</p>
    </div>
  </main>

  <footer>
    <p>Noor Meister / 2022</p>
  </footer>
</body>

</html>