<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../css/footer.css" type="text/css" />
    <link rel="stylesheet" href="../css/header.css" type="text/css" />
    <link rel="stylesheet" href="../css/login.css">
    <script src="../js/main.js" defer></script>
    <title>Sign in</title>
</head>

<body>

    <header>
        <div class="header__img_container">
            <a href="../index.html"><img src="../images/noor-meister.png" alt="noor-meister"></a>
        </div>
        <nav>
            <ul>
                <li class="active_link"><a href="./events.html">Events</a></li>
                <li><a href="./about_us.html">About Us</a></li>
                <li><a href="./contacts.html">Contacts</a></li>
            </ul>
        </nav>
        <div class="header__language">
            <a>RUS</a>
            <span>/</span>
            <a>ENG</a>
        </div>
        <div class="header__login">
            <a href="login.html">Login</a>
            <a href="sign-up.html">Sign up</a>
        </div>
        <div class="burger_button">
            <label for="check">
                <input type="checkbox" id="check" />
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div id="myLinks">
            <a class="links_language">RUS</a>
            <a class="links_language">ENG</a>

            <a href="./events.html">Events</a>
            <a href="./about_us.html">About Us</a>
            <a href="./contacts.html">Contacts</a>

            <a href="login.html">Login</a>
            <a href="sign-up.html">Sign up</a>
        </div>
    </header>

    <main>
        <h2>Login Form</h2>

        <form action="/action_page.php" method="post">
            <div class="imgcontainer">
                <img src="../images/img_avatar2.png" alt="Avatar" class="avatar">
            </div>

            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
        </form>
    </main>

    <footer styles="footer{position: relative !important}">
        <p>Noor Meister / 2022</p>
    </footer>

</body>

</html>